/* 

To do:
- Remove main:flexbox. Give footer position:absolute.



*/


html {font-size: 10px;}

/* ******************* */
/* *** QUALITATIVE *** */
/* ******************* */

body{
    background-color: #D5E1EF;
    color: #1F314F;
    text-align: center;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

#card {
    background-color: #FFFFFF;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}

@media screen and (hover) {
    #card {box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.07);}
}

#card h2 {font-weight: 700;}
#card p {color: #68778D;}
.attribution a { color: #3e52a3; }


/* ******************** */
/* *** QUANTITATIVE *** */
/* ******************** */

main {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 1.6rem); */
}

#card {
    width: calc(32rem - 3.2rem); /* subtract padding */
    height: calc(49.9rem - 3.2rem); /* subtract padding */
    margin: 0 auto;
    padding: 1.6rem;
    border-radius: 2.2rem;
    -ms-transform: translateY(calc(50vh - 25rem)); /* half the page, minus half the card's height */
    transform: translateY(calc(50vh - 25rem)); /* half the page, minus half the card's height */
}

#card h2 {
    margin-top: 2.4rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 2.2rem;
    line-height: 120%;
    letter-spacing: 0;
}

#card p {
    margin-top: 1.6rem;
    margin-bottom: 4rem;
    padding: 0 1rem;
    font-size: 1.5rem;
    line-height: 140%;
    letter-spacing: 0.02rem;
}

img {
    width: 28.8rem;
    height: auto;
    border-radius: 1rem;
}

.attribution {
    font-size: 1.1rem;
    position: absolute;
    bottom: 1.6rem;
    left: 0;
    right: 0;
}