.attribution { 
    font-size: 11px; 
}
.attribution a { color: #3e52a3; }

body {
    background-color: #D5E1EF;
    text-align: center;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Outfit", sans-serif;
    color: #1F314F;
}

#card {
    width: calc(320px - 32px); /* subtract padding */
    height: calc(499px - 32px); /* subtract padding */
    border-radius: 22px;
    margin: 100px auto;
    padding: 16px;
    background-color: #FFFFFF;
}

#card h2 {
    margin-top: 24px;
    margin-bottom: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
}

#card p {
    margin-top: 16px;
    margin-bottom: 40px;
    padding: 0 10px;
    color: #68778D;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
}

img {
    width: 288px;
    height: auto;
    border-radius: 10px;
}